<h1>Carrito</h1>

{{#if productos.length}}
  <ul>
    {{#each productos}}
      <li>{{title}} — ${{price}} x {{quantity}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>Carrito vacío</p>
{{/if}}
