<!-- PERFIL MINI (arriba a la derecha) -->
<div class="perfil-panel">
  <button id="perfil">Ver Perfil</button>
  <div id="perfil-items" style="display: none;">
    <!-- Aquí se renderiza la info del usuario -->
  </div>
</div>

<div class="app-container">

  <!-- PRODUCTOS -->
  <div class="products-grid">
    {{#each productos}}
      <div class="product-card">
        <div class="product-info">
          <div class="product-title">{{this.title}}</div>
          <div class="product-meta">
            <span class="price">$ {{this.price}}</span>
            <span class="category">{{this.category}}</span>
          </div>
        </div>

        <button class="add-to-cart" data-id="{{this._id}}">
          Agregar al carrito
        </button>
      </div>
    {{/each}}
  </div>

  <!-- CARRITO -->
  <div class="cart-panel">
    <div class="cart-header">
      <span class="cart-title">🛒 Carrito</span>
    </div>

    <div id="cart-items" class="cart-items">
      <!-- JS renderiza acá -->
    </div>

    <div id="cart-total"></div>

    <!-- BOTÓNES -->
    <button id="logout-btn" class="clear-cart">
      Cerrar sesión
    </button>

    <button id="delete-cart" class="clear-cart">
      Vaciar carrito
    </button>
     <button id="checkout" class="clear-cart">
     comprar
    </button>
  </div>

</div>

