
<div class="cart-panel">
  <h2>Carrito</h2>
  <div id="cart-items"></div>
  <div id="cart-total"></div>
  <!--BOTÓN ELIMINAR CARRITO COMPLETO -->
  <button id="delete-cart">Eliminar carrito</button>
</div>

