
<div class="cart-panel">
  <h2>Carrito</h2>
  <div id="cart-items"></div>
  <div id="cart-total"></div>
  <!--BOTÓNES-->

<button id="logout-btn" class="clear-cart">
      Cerrar sesión
    </button>

    <button id="delete-cart" class="clear-cart">
      Vaciar carrito
    </button>
     <button id="checkout" class="clear-cart">
     comprar
    </button>
</div>

