<!DOCTYPE html>
<html>
<head>
  <title>Restablecer contrase単a</title>
</head>
<body>
  <h2>Restablecer contrase単a</h2>

  <form method="POST" action="/api/auth/reset-password/{{token}}">
    <input 
      type="password" 
      name="password" 
      placeholder="Nueva contrase単a" 
      required 
    />
    <button type="submit">Cambiar contrase単a</button>
  </form>

</body>
</html>
